# Ignore datasets (upload only processed samples)
data/*.csv
!data/processed_data.csv

# Ignore Jupyter Notebook checkpoints
notebooks/.ipynb_checkpoints/

# Ignore virtual environment
venv/
__pycache__/
# Ignore large dataset files
data/processed_data.csv
data/train_transaction.csv
data/train_identity.csv
