# Ignore datasets (upload only processed samples)
data/*.csv
!data/processed_data.csv

# Ignore Jupyter Notebook checkpoints
notebooks/.ipynb_checkpoints/

# Ignore virtual environment
venv/
__pycache__/
